<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title><%= appname %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <% if (includeAngular) { %>
            <script src="//code.angularjs.org/2.0.0-alpha.23/angular2.sfx.dev.js"></script>
        <% } %>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </head>
    <body class="text--center">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="grid grid--center">
        <div class="grid__item one-whole">
            <h1>Hello Code &amp; Coffee</h1>
            <p>We now have a front end stack build with <b><%= taskrunner %></b> that uses the following:</p>
            <ol class="nav breadcrumb">
                <% if (includeSass) { %>
                    <li><a href="http://libsass.org/">Sass</a></li>
                <% } %>
                <% if (includeAngular) { %>
                    <li data-breadcrumb="|"><a href="http://angular.io/">AngularJS 2.0</a></li>
                <% } %>
                <li data-breadcrumb="|"><a href="http://inuitcss.com/">Inuit.css</a></li>
            </ol>
        </div>
    </div>

    <div>
        <button class="btn btn--big btn--positive btn--link">
            <span class="btn__done">I'm a useless button!</span>
        </button>
    </div>

    <% if (includeAngular) { %>
        <codecoffee></codecoffee>
    <% } %>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
  </body>
</html>
