$use-grids:         true;
$use-nav:           true;
$use-options:       false!default;
$use-pagination:    false!default;
$use-breadcrumb:    false!default;
$use-media:         false!default;
$use-marginalia:    false!default;
$use-island:        false!default;
$use-block-list:    true;
$use-matrix:        false!default;
$use-split:         false!default;
$use-this-or-this:  false!default;
$use-link-complex:  false!default;
$use-flyout:        false!default;
$use-arrows:        false!default;
$use-sprite:        false!default;
$use-icon-text:     false!default;
$use-beautons:      true!default;
$use-lozenges:      false!default;
$use-rules:         false!default;
$use-stats:         false!default;
$use-greybox:       false!default;

@import "../../bower_components/inuit.css/inuit.scss";

$default-color: #333;
$default-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$default-background-color: #fafafa;
$white: #FFFFFF;
$done-btn: #00f;

body {
    font-family: $default-font-family;

    color: $default-color;
    background-color: $default-background-color;
}

.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;

    color: $default-color;
    background-color: $default-background-color;
}

/***********
 *** BEM ***
 ***********/

// The Block, Element, Modifier methodology (commonly referred to as BEM)
// is a popular naming convention for classes in HTML and CSS.

/* 
 * Block component
 * In this CSS methodology a block is a top-level abstraction of a new component
 */

.btn {
    display: inline-block;
}

/* 
 * Element that depends upon the block
 *
 * Child items, or elements, can be placed inside and these are denoted by
 * two underscores following the name of the block.
 */

.btn__done {
    font-size: 1em;
}

/* 
 * Modifier that changes the style of the block
 *
 * Modifiers can manipulate the block so that we can theme or
 * style that particular component without inflicting changes
 * on a completely unrelated module.
 */

.btn--big {
    padding: 0.5em;
    border-radius: 4px;
}

.btn--link {
    text-decoration: none;
}

/**
 * THE SASS WAY
 */

// .btn {
//     display: inline-block;
//     @at-root #{&}__done {
//         font-size: 1em;
//     }
//     @at-root #{&}--big {
//         padding: 0.5em;
//     }
//     @at-root #{&}--blue {
//         background-color: $done-btn;
//     }
// }
