body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    color: #333;
    background: #fafafa;
}

.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;

    color: #000;
    background: #fafafa;
}

/***********
 *** BEM ***
 ***********/

/*
 * The Block, Element, Modifier methodology (commonly referred to as BEM)
 * is a popular naming convention for classes in HTML and CSS.
 */

/* 
 * Block component
 * In this CSS methodology a block is a top-level abstraction of a new component
 */

.btn {
    display: inline-block;
}

/* 
 * Element that depends upon the block
 *
 * Child items, or elements, can be placed inside and these are denoted by
 * two underscores following the name of the block.
 */

.btn__done {
    font-size: 1em;
}

/* 
 * Modifier that changes the style of the block
 *
 * Modifiers can manipulate the block so that we can theme or
 * style that particular component without inflicting changes
 * on a completely unrelated module.
 */

.btn--big {
    padding: 0.5em;
    border-radius: 4px;
}

.btn--link {
    text-decoration: none;
}